<div class="navbar bg-base-100 mb-40 shadow-xl rounded-box">
    <div class="flex-1">
        <a href="{{ url('homepage') }}" class="btn btn-ghost normal-case text-xl">{{ 'site_name'|trans }}</a>
    </div>
    <div class="flex-none">
        <div class="dropdown dropdown-end">
            <label tabindex="0" class="btn btn-ghost btn-circle">
                <div class="indicator">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" /></svg>
                    <span class="badge badge-sm indicator-item">8</span>
                </div>
            </label>
            <div tabindex="0" class="mt-3 card card-compact w-52 dropdown-content bg-base-100 shadow">
                <div class="card-body">
                    <span class="font-bold text-lg">8 Items</span>
                    <span class="text-info-content">Subtotal: $999</span>
                    <div class="card-actions">
                        <button class="btn btn-primary btn-block">View cart</button>
                    </div>
                </div>
            </div>
        </div>

        {% if is_granted('ROLE_USER') %}
            <div class="dropdown dropdown-end">
                <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                    <div class="w-10 rounded-full">
                        <img src="https://api.lorem.space/image/face?hash=33791">
                    </div>
                </label>
                <ul tabindex="0" class="mt-3 p-2 shadow menu menu-compact dropdown-content bg-base-100 rounded-box w-52">
                    <li>
                        <a href="{{ path('user_account') }}" class="justify-between">
                            {{ 'user.my_account'|trans }}
                            <span class="badge">New</span>
                        </a>
                    </li>
                    <li><a>{{ 'settings'|trans }}</a></li>
                    <li><a href="{{ path('app_logout') }}">{{ 'logout'|trans }}</a></li>
                </ul>
            </div>
        {% else %}
            <div class="dropdown dropdown-end">
                <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                    <div class="indicator">
                        <i class="fa-solid fa-user text-xl"></i>
                    </div>
                </label>
                <ul tabindex="0" class="mt-3 p-2 shadow menu menu-compact dropdown-content bg-base-100 rounded-box w-52">
                    <li>
                        <a href="{{ path('login') }}">{{ 'login'|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('register') }}">{{ 'register'|trans }}</a>
                    </li>
                </ul>
            </div>
        {% endif %}

        <div class="dropdown dropdown-end">
            <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                {{ app.request.locale }}
            </label>
            <ul tabindex="0" class="mt-3 p-2 shadow menu menu-compact dropdown-content bg-base-100 rounded-box w-52">
                {% set route = app.request.attributes.get('_route') %}
                {% set route_params = app.request.attributes.get('_route_params') %}
                {% set params = route_params|merge(app.request.query.all) %}

                {% for locale in localeList.localeList|split('|') %}
                    <li>
                        <a href="{{ path(route, params|merge({ _locale: locale })) }}" class="uppercase font-semibold">{{ locale }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>