{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="prose">
        <h1>{{ 'register'|trans }}</h1>

        <p class="font-semibold text-lg">{{ 'already_account'|trans }} <a href="{{ path('login') }}">{{ 'here'|trans }}</a></p>
    </div>

    <div class="mt-16">
        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
        {{ form_end(registrationForm) }}
    </div>

{% endblock %}
