{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block content %}
    <div class="prose mb-8">
        <h1>{{ 'our_mango_product'|trans }}</h1>
    </div>

    <div class="flex flex-wrap">
        {% for product in products %}
            <div class="w-1/3 p-5">
                <a href="{{ path('products_show', {'id': product.id}) }}" class="btn btn-ghost h-auto flex flex-col p-4">
                    <img src="{{ asset(product.src) }}" alt="{{ product.name }}" class="h-64 mx-auto object-cover">
                    <span class="mt-6 mb-3">{{ product.name }}</span>
                    <span>{{ product.price }} €</span>
                </a>
            </div>

        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
    </div>

    {#
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Src</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

    <a href="{{ path('products_new') }}">Create new</a>
    #}
{% endblock %}
