{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block content %}
    <div class="prose mb-8">
        <h1>{{ product.name }}</h1>
    </div>

    <div class="flex">
        <div class="h-64 w-64 mr-16">
            <img src="{{ asset(product.src) }}" alt="{{ product.name }}" class="h-full mx-auto object-contain">
        </div>

        <div>
            <p class="mb-8">{{ product.description }}</p>
            <p class="font-semibold text-lg">{{ product.price }} €</p>

            {% if is_granted('ROLE_USER') %}
                <a href="" class="btn mt-8">{{ 'product.not_available_yet'|trans }}</a>
            {% else %}
                <a href="{{ path('login') }}" class="btn mt-8">{{ 'product.register_before_add_cart'|trans }}</a>
            {% endif %}
        </div>
    </div>

    <a href="{{ path('products_index') }}" class="btn btn-primary mt-8">{{ 'product.back_to_list'|trans }}</a>

    {# <a href="{{ path('products_edit', {'id': product.id}) }}">edit</a> #}



    {# {{ include('products/_delete_form.html.twig') }} #}
{% endblock %}
