{% extends 'base.html.twig' %}

{#
{% import "macros/flash.html" as macros %}
{% from "macros/flash.html.twig" import flash %}#}

{% block title %}Hello HomepageController!{% endblock %}

{% block header %}
    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('user_account') }}">Mon compte</a>
    {% else %}
        <a href="{{ path('login') }}">Connexion</a>
        <a href="{{ path('register') }}">Inscription</a>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="example-wrapper">
        {% if is_granted('ROLE_USER') %}
            <h1 class="text-3xl font-bold underline">Bienvenue {{ app.user.email }} sur la glace des seigneurs !</h1>
        {% else %}
            <h1 class="text-3xl font-bold underline">Bienvenue sur la glace des seigneurs !</h1>
        {% endif %}

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a href="{{ '/Users/johann/workspace/symfony-web-app/src/Controller/HomepageController.php'|file_link(0) }}">src/Controller/HomepageController.php</a></code></li>
            <li>Your template at <code><a href="{{ '/Users/johann/workspace/symfony-web-app/templates/homepage/index.html.twig'|file_link(0) }}">templates/homepage/index.html.twig</a></code></li>
        </ul>
    </div>

    <p>La langue actuelle est : {{ app.request.locale }}</p>

    <p>La variable search passé en paramètre à l'url est : {{ app.request.get('search')|default('search is not defined') }}</p>
    <p>La varariable page2 passé en paramètre à l'url est : {{ app.request.get('page2')|default('page2 is not defined') }}</p>

    {#  {{ macros }}#}

        {% set content %}
        # Hello world
        - point 1
        - point 2
        {% endset %}

        {{ content | markdown_to_html|raw }}
    {% endblock %}
